[submodule "pydensecrf"]
	path = pydensecrf
	url = https://github.com/lucasb-eyer/pydensecrf
[submodule "paper"]
	path = paper
	url = https://github.com/anedanman/CRF-for-structural-representation-learning.git
