train:
  # Control training by total number of updates (steps)
  max_updates: 100000
  # Validation and logging intervals (in updates)
  val_every_updates: 5000
  log_every_updates: 600
  progress_bar: true
  seed: 39
  deterministic: false
  panoptic_mode: instance
  # Checkpointing by updates
  ckpt:
    every_updates: 10000
    keep_last: 1
    resume_path: null    # path to a checkpoint to resume from
    resume_latest: false # if true and resume_path is null, resume from latest in output.dir
  # Optim/loader
  batch_size: 64
  learning_rate: 1.0e-4
  weight_decay: 1.0e-4
  lr_schedule:
    type: cosine
    warmup_steps: 10000
    min_lr: 1.0e-6
  num_workers: 8
  grad_clip_norm: 1.0
  compile:
    enabled: true
    mode: "reduce-overhead"
  images_only: true
  max_samples_train: null
  max_samples_val: 1500
  max_val_batches: 15
  min_area: 0.0
  return_properties: true

data:
  dataset: coco
  root: ./data/coco
  image_size: 256
  max_objects: 40
  train_split: train2017
  val_split: val2017
  train_horizontal_flip_prob: 0.5

dino:
  size: s
  freeze: true

slots:
  num_iterations: 5
  num_slots: 7
  num_heads: 1
  slot_size: 256
  input_size: null  # auto from DINO feature dim
  out_size: null    # auto from DINO feature dim
  mlp_hidden_size: 1024
  detach_last_iteration: true
  qk_rmsnorm: false
  qk_rmsnorm_eps: 1.0e-6
  rope:
    rescale_coords: null
    shift_coords: null
    jitter_coords: null

decoder:
  type: transformer  # options: mlp, transformer, autoregressive
  num_heads: 4
  transformer:
    qk_norm: true
    depth: 4
    mlp_hidden_dim: 1024
    pre_mlp: true
    dropout: 0.1
    rope: {}
  mlp:
    hidden_dim: 1024
    depth: 2
    rope: {}

wandb:
  enabled: true
  project: slot-dino
  entity: null
  run_name: dinosaur_coco_transformer_7objs_detach_sdino
  mode: online

output:
  dir: runs
